$grey: #7f738a;
$light-gr: #9b8fa5;

.offers-block {
  padding: 40px 0;
  h1 {
    text-align: center;
    color: $grey;
    margin-bottom: 40px;
  }
  #textarea-offers {
    resize: none;
    height: 124px;
    box-shadow: inset 0 3px 3px #d9d7da;
    margin: 0 0 10px;
    background: #f0f0f2;
    border: none;
    width: 100%;
  }
  .wrapper-textar {
    margin: 0 -10px 10px;
    span {
      font-style: italic;
      color: $light-gr;
      display: block;
    }
  }
  .wrapper-input {
    margin: 0 -15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      color: $grey;
      font-size: 24px;
      margin: 0 5px;
    }

    input {
      margin: 0 5px;
      box-shadow: inset 0 3px 3px #d9d7da;
      background: #f0f0f2;
      border: none;
      color: $grey;
      width: 120px;
    }
  }
}
.footer {
  background: #9a76b4;
  a {
    display: block;
    text-decoration: none;
    color: #FEFFFC;
    font-style: italic;
    text-shadow: 0 0 2px rgba(0, 0, 0, .7);
  }
}