$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/font-awesome';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

body {
  background: #e3dfe7;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
html {
  height: 100%;
}

#wrapper {
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 55px;
}

$header-background: #a07bc1;
#header {
  z-index: 2;
  position: fixed;
  top:0;
  left: 0;
  right: 0;

}
.header {
  color: #fff;
  background: $header-background;
  padding: 0 20px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  min-height: 80px;
}
.logo,
.language {
  display: inline-block;
  color: $white;
  text-decoration: none;
}

.back {
  overflow: hidden;
  width: 18px;
  span {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    transform: rotate(45deg);
    margin-left: 8px;
    margin-right: 8px;
  }
}
.link-block-login {
  display: none;
  a {
    display: inline-block;
    color: $white;
    text-decoration: none;
    font-size: 47px;
  }
}

.link-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    display: inline-block;
    color: $white;
    text-decoration: none;
  }
  .question {
    font-size: 50px;
    margin-right: 20px;
  }
  .mail {
    position: relative;

    i {
      font-size: 50px;
    }

    span {
      display: inline-block;
      background: $header-background;
      font-weight: 700;
      padding: 0 5px;
      position: absolute;
      top:0;
      right: -1px;
      border-radius: 50%;
      border: 3px solid $white;
    }

  }
}
.container {
  padding: 0 20px;
}
.wr-lewel {
  z-index: 1;
  position: fixed;
  top:80px;
  left: 0;
  right: 0;
}
.main-block {
  padding-top: 160px;
}
.traffic-level {
  box-shadow: 0 3px 4px rgba(0, 0, 0, .7);
  margin-bottom: 15px;
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
  max-width: 480px;
  margin: 0 auto;
}
.traffic-level-low {
  color: #268632;
  background: #6dc173;
}
.traffic-level-medium {
  color: #AA8301;
  background: #f3d262;
}
.traffic-level-high {
  color: #954231;
  background: #f37861;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 480px;
  margin: 0 auto;
  min-height: 55px;
  background: #a07bc1;
  color: $white;
  font-style: italic;
  text-align: center;
  padding: 15px 0;
  font-size: 32px;
}
.list {
  @extend %listreset;

  li {
    background: #e4e0e8;
    padding: 10px 10px 50px;
    min-height: 132px;
    position: relative;
    margin-bottom: 15px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .cost-ln {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .cost {
    color: #96d5a9;
    font-size: 24px;
    font-weight: 700;
  }
  .distance {
    color: #80748b;
    font-size: 24px;
    font-weight: 700;
  }
  .i-time {
    font-style: italic;
    color: #9c90a6;
  }
  p {
    color: #80748b;
    font-size: 14px;
  }
  .footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 8px;
    left:10px;
    right: 10px;
    color: #9c90a6;
  }
  .link-to {
    img {
      transform: rotate(180deg);
    }
  }
  .link-phone {
    text-decoration: none;
    width: 50%;
    color: #a783c6;
  }
  .address {
    font-style: italic;
  }
}

@import 'sections/offers';
